<header class="header-furnishing">
    <div class="container container-header">
        <a href="/" class="header-furnishing__logo-link">
            <img class="header-furnishing__logo-icon" src="/icon/logo-furni.png" alt="furni">
            <img class="header-furnishing__logo-icon-mobile" src="/icon/logo-furni-mobile.png" alt="furni">
        </a>
        <ul class="header-list-contacts">
            <li class="header-list-contacts__item">
                <a href="mailto:hello@furni.ae" class="header-list-contacts__link">hello@furni.ae</a>
            </li>
            <li class="header-list-contacts__item">
                <a href="tel:+97143102096" class="header-list-contacts__link">+971-4-3102096</a>
            </li>
        </ul>
    </div>
</header>
<main class="main">
    <section class="section-furnishing-offer">
        <div class="container container-furnishing-offer">
            <h1 class="section-furnishing-offer__title">Furnishing offer</h1>
            <section class="section-furnishing-content">
                <ul class="section-furnishing-list-titles">
                    <li class="section-furnishing-list-titles__item">№</li>
                    <li class="section-furnishing-list-titles__item">Product</li>
                    <li class="section-furnishing-list-titles__item">Quantity</li>
                    <li class="section-furnishing-list-titles__item">Price</li>
                </ul>

                <button class="section-furnishing-content__button btn">Kitchen</button>

                <ul class="section-furnishing-list-cards">
                    <li class="section-furnishing-list-cards__item">
                        <ul class="section-furnishing-list-cards-content">
                            <li class="section-furnishing-list-cards-content__item">1</li>
                            <li class="section-furnishing-list-cards-content__item">
                                <div class="section-furnishing-list-cards-content__wrapper-img">
                                    <div class="section-furnishing-list-cards-content__number-card-mobile">1</div>
                                    <img class="section-furnishing-list-cards-content__img" src="/img/card-img.png"
                                        alt="furni">
                                </div>
                                <div class="section-furnishing-list-cards-content__wrapper-txt">
                                    <span class="section-furnishing-list-cards-content__name">
                                        Tribe Tv Unit Upto 65 Inches Bone Inlay - Black & Gold
                                    </span>
                                    <span class="section-furnishing-list-cards-content__code">
                                        Code: 031SOT2000002
                                    </span>
                                    <span class="section-furnishing-list-cards-content__price">
                                        <span class="section-furnishing-list-cards-content__current-price">
                                            <span class="section-furnishing-list-cards-content__quantity-mobile">
                                                2 x
                                            </span>
                                            4 995 AED
                                        </span>
                                        <span class="section-furnishing-list-cards-content__past-price">
                                            <span class="section-furnishing-list-cards-content__money">50 150</span>
                                            <span class="section-furnishing-list-cards-content__aed">AED</span>
                                        </span>
                                    </span>
                                    <span class="section-furnishing-list-cards-content__total-price-mobile">
                                        91 460 AED
                                    </span>
                                </div>
                            </li>
                            <li class="section-furnishing-list-cards-content__item">x 2</li>
                            <li class="section-furnishing-list-cards-content__item">91 460 AED</li>
                        </ul>
                    </li>
                    <li class="section-furnishing-list-cards__item">
                        <ul class="section-furnishing-list-cards-content">
                            <li class="section-furnishing-list-cards-content__item">1</li>
                            <li class="section-furnishing-list-cards-content__item">
                                <div class="section-furnishing-list-cards-content__wrapper-img">
                                    <div class="section-furnishing-list-cards-content__number-card-mobile">1</div>
                                    <img class="section-furnishing-list-cards-content__img" src="/img/card-img.png"
                                        alt="furni">
                                </div>
                                <div class="section-furnishing-list-cards-content__wrapper-txt">
                                    <span class="section-furnishing-list-cards-content__name">
                                        Tribe Tv Unit Upto 65 Inches Bone Inlay - Black & Gold
                                    </span>
                                    <span class="section-furnishing-list-cards-content__code">
                                        Code: 031SOT2000002
                                    </span>
                                    <span class="section-furnishing-list-cards-content__price">
                                        <span class="section-furnishing-list-cards-content__current-price">
                                            <span class="section-furnishing-list-cards-content__quantity-mobile">
                                                2 x
                                            </span>
                                            4 995 AED
                                        </span>
                                        <span class="section-furnishing-list-cards-content__past-price">
                                            <span class="section-furnishing-list-cards-content__money">50 150</span>
                                            <span class="section-furnishing-list-cards-content__aed">AED</span>
                                        </span>
                                    </span>
                                    <span class="section-furnishing-list-cards-content__total-price-mobile">
                                        91 460 AED
                                    </span>
                                </div>
                            </li>
                            <li class="section-furnishing-list-cards-content__item">x 2</li>
                            <li class="section-furnishing-list-cards-content__item">91 460 AED</li>
                        </ul>
                    </li>
                </ul>

                <button class="section-furnishing-content__button btn">Bedroom</button>

                <ul class="section-furnishing-list-cards">
                    <li class="section-furnishing-list-cards__item">
                        <ul class="section-furnishing-list-cards-content">
                            <li class="section-furnishing-list-cards-content__item">1</li>
                            <li class="section-furnishing-list-cards-content__item">
                                <div class="section-furnishing-list-cards-content__wrapper-img">
                                    <div class="section-furnishing-list-cards-content__number-card-mobile">1</div>
                                    <img class="section-furnishing-list-cards-content__img" src="/img/card-img.png"
                                        alt="furni">
                                </div>
                                <div class="section-furnishing-list-cards-content__wrapper-txt">
                                    <span class="section-furnishing-list-cards-content__name">
                                        Tribe Tv Unit Upto 65 Inches Bone Inlay - Black & Gold
                                    </span>
                                    <span class="section-furnishing-list-cards-content__code">
                                        Code: 031SOT2000002
                                    </span>
                                    <span class="section-furnishing-list-cards-content__price">
                                        <span class="section-furnishing-list-cards-content__current-price">
                                            <span class="section-furnishing-list-cards-content__quantity-mobile">
                                                2 x
                                            </span>
                                            4 995 AED
                                        </span>
                                        <span class="section-furnishing-list-cards-content__past-price">
                                            <span class="section-furnishing-list-cards-content__money">50 150</span>
                                            <span class="section-furnishing-list-cards-content__aed">AED</span>
                                        </span>
                                    </span>
                                    <span class="section-furnishing-list-cards-content__total-price-mobile">
                                        91 460 AED
                                    </span>
                                </div>
                            </li>
                            <li class="section-furnishing-list-cards-content__item">x 2</li>
                            <li class="section-furnishing-list-cards-content__item">91 460 AED</li>
                        </ul>
                    </li>
                    <li class="section-furnishing-list-cards__item">
                        <ul class="section-furnishing-list-cards-content">
                            <li class="section-furnishing-list-cards-content__item number-card">1</li>
                            <li class="section-furnishing-list-cards-content__item">
                                <div class="section-furnishing-list-cards-content__wrapper-img">
                                    <div class="section-furnishing-list-cards-content__number-card-mobile">1</div>
                                    <img class="section-furnishing-list-cards-content__img" src="/img/card-img.png"
                                        alt="furni">
                                </div>
                                <div class="section-furnishing-list-cards-content__wrapper-txt">
                                    <span class="section-furnishing-list-cards-content__name">
                                        Tribe Tv Unit Upto 65 Inches Bone Inlay - Black & Gold
                                    </span>
                                    <span class="section-furnishing-list-cards-content__code">
                                        Code: 031SOT2000002
                                    </span>
                                    <span class="section-furnishing-list-cards-content__price">
                                        <span class="section-furnishing-list-cards-content__current-price">
                                            <span class="section-furnishing-list-cards-content__quantity-mobile">
                                                2 x
                                            </span>
                                            4 995 AED
                                        </span>
                                        <span class="section-furnishing-list-cards-content__past-price">
                                            <span class="section-furnishing-list-cards-content__money">50 150</span>
                                            <span class="section-furnishing-list-cards-content__aed">AED</span>
                                        </span>
                                    </span>
                                    <span class="section-furnishing-list-cards-content__total-price-mobile">
                                        91 460 AED
                                    </span>
                                </div>
                            </li>
                            <li class="section-furnishing-list-cards-content__item">x 2</li>
                            <li class="section-furnishing-list-cards-content__item">91 460 AED</li>
                        </ul>
                    </li>
                </ul>

                <button class="section-furnishing-content__button btn">Bedroom</button>

                <ul class="section-furnishing-list-titles-bottom">
                    <li class="section-furnishing-list-titles-bottom__item"></li>
                    <li class="section-furnishing-list-titles-bottom__item">
                        TOTAL
                        <span class="section-furnishing-list-titles-bottom__products">
                            <span class="section-furnishing-list-titles-bottom__count-products">10 товаров,</span>
                            <span class="section-furnishing-list-titles-bottom__count-units">17 единиц</span>
                        </span>
                    </li>
                    <li class="section-furnishing-list-titles-bottom__item"></li>
                    <li class="section-furnishing-list-titles-bottom__item">16 173 AED</li>
                </ul>
            </section>
        </div>
    </section>
</main>