<header class="header-furnishing">
    <div class="container">
        <a href="/" class="header-furnishing__logo-link">
            <img class="header-furnishing__logo-icon" src="../public/icon/logo-furni.png" alt="furni">
        </a>
        <ul class="header-list-contacts">
            <li class="header-list-contacts__item">
                <a href="mailto:hello@furni.ae" class="header-list-contacts__link">hello@furni.ae</a>
            </li>
            <li class="header-list-contacts__item">
                <a href="tel:+97143102096" class="header-list-contacts__link">+971-4-3102096</a>
            </li>
        </ul>
    </div>
</header>
<main class="main">
    <section class="section-furnishing-offer">
        <div class="container container-furnishing-offer">
            <h1 class="furnishing-offer__title">Furnishing offer</h1>
            <section class="section-furnishing-offer-content">
                <ul class="section-furnishing-offer-content-list-titles">
                    <li class="section-furnishing-offer-content-list-titles__item">№</li>
                    <li class="section-furnishing-offer-content-list-titles__item">Product</li>
                    <li class="section-furnishing-offer-content-list-titles__item">Quantity</li>
                    <li class="section-furnishing-offer-content-list-titles__item">Price</li>
                </ul>
                
                <button class="section-furnishing-offer-content__button">kitchen</button>

                <ul class="section-furnishing-offer-content-list-titles bottom">
                    <li class="section-furnishing-offer-content-list-titles__item">№</li>
                    <li class="section-furnishing-offer-content-list-titles__item">Product</li>
                    <li class="section-furnishing-offer-content-list-titles__item">Quantity</li>
                    <li class="section-furnishing-offer-content-list-titles__item">Price</li>
                </ul>
            </section>
        </div>
    </section>
</main>