@import url('../css/main-fonts.css');
* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
.form-input-BS-BR,
.withdrawal-BS-BR {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.product-item-BS-BR,
.add-product-BS-BR {
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
}
html,
body {
  height: calc(100% - 30px);
}
.main {
  height: calc(100% - 30px);
  margin-top: 30px;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
}
@media (max-width: 810px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.section-adding-products {
  height: calc(100% - 30px);
}
.section-adding-products .adding-products-container {
  display: flex;
  height: calc(100% - 30px);
}
@media (max-width: 810px) {
  .section-adding-products .adding-products-container {
    flex-direction: column;
  }
}
.section-adding-products__left {
  max-width: 332px;
}
@media (max-width: 810px) {
  .section-adding-products__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: initial;
  }
}
.section-adding-products__title {
  font-family: 'SourceSansPro-regular';
  font-size: 28px;
  line-height: 35px;
  color: #3f3f3f;
}
@media (max-width: 1020px) {
  .section-adding-products__title {
    font-size: 23px;
    line-height: 26px;
    text-align: center;
  }
}
.section-adding-products .form-adding-products {
  position: sticky;
  top: 24px;
  margin-top: 16px;
  padding: 24px;
  background-color: #fffefb;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
}
@media (max-width: 810px) {
  .section-adding-products .form-adding-products {
    width: 332px;
    max-width: 100%;
  }
}
.section-adding-products .form-adding-products__item {
  position: relative;
  margin-top: 20px;
}
.section-adding-products .form-adding-products__label {
  position: relative;
  font-family: 'SourceSansPro-regular';
  font-size: 12px;
  line-height: 13px;
  letter-spacing: -0.02em;
  color: #49485e;
}
@media (max-width: 810px) {
  .section-adding-products .form-adding-products__label {
    display: none;
  }
}
.section-adding-products .form-adding-products__label::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  right: -5px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #ff8484;
}
.section-adding-products .form-adding-products__label.product-description::after {
  display: none;
}
.section-adding-products .form-adding-products__input {
  font-family: 'SourceSansPro-regular';
  width: 100%;
  height: 36px;
  margin-top: 4px;
  padding-left: 16px;
  border: none;
  outline: none;
  font-size: 12px;
  line-height: 15px;
  background-color: transparent;
  color: #3f3f3f;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.section-adding-products .form-adding-products__input::placeholder {
  color: #b4b4b4;
}
@media (max-width: 810px) {
  .section-adding-products .form-adding-products__input::placeholder {
    color: #3f3f3f;
  }
}
@media (max-width: 810px) {
  .section-adding-products .form-adding-products__input {
    background-color: #fff;
  }
}
.section-adding-products .form-adding-products .error-message {
  position: absolute;
  left: 0;
  bottom: -16px;
  display: inline-block;
  margin-top: 7px;
  font-family: 'SourceSansPro-regular';
  font-size: 11px;
  line-height: 10px;
  letter-spacing: -0.02em;
  color: #ff8484;
  opacity: 0;
}
@media (max-width: 810px) {
  .section-adding-products .form-adding-products .error-message {
    display: none;
  }
}
.section-adding-products .form-adding-products input[type="number"]::-webkit-outer-spin-button,
.section-adding-products .form-adding-products input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.section-adding-products .form-adding-products input[type="number"] {
  -moz-appearance: textfield;
}
.section-adding-products .form-adding-products input[type="number"]:hover,
.section-adding-products .form-adding-products input[type="number"]:focus {
  -moz-appearance: number-input;
}
.section-adding-products .form-adding-products input[type=number]::-webkit-inner-spin-button,
.section-adding-products .form-adding-products input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.section-adding-products .form-adding-products__input.error {
  outline: 1px solid #ff8484;
}
@media (max-width: 810px) {
  .section-adding-products .form-adding-products__input.error::placeholder {
    color: #ff8484;
  }
}
.section-adding-products .form-adding-products__input.product-description {
  padding-top: 11px;
  height: 108px;
  position: relative;
}
.section-adding-products .form-adding-products__input.product-description::placeholder {
  position: absolute;
  top: 12px;
}
.section-adding-products .form-adding-products__add-product {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 36px;
  width: 100%;
  margin-top: 24px;
  font-family: 'inter-medium';
  background-color: #eeeeee;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  color: #b4b4b4;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}
.section-adding-products .form-adding-products__add-product.active {
  background-color: #7bae73;
  color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.section-adding-products__right {
  width: 100%;
  height: 100%;
  margin-left: 16px;
}
@media (max-width: 810px) {
  .section-adding-products__right {
    margin-left: 0;
    margin-top: 30px;
  }
}
.section-adding-products__right .wrapper-product-withdrawal {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 135px;
  height: 36px;
  background-color: #fffefb;
  font-size: 12px;
  line-height: 15px;
  color: #B4B4B4;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.section-adding-products__right .wrapper-product-withdrawal::after {
  content: '';
  display: inline-block;
  margin-left: 5px;
  margin-top: -3px;
  width: 4.59px;
  height: 4.59px;
  border: 1px solid #b4b4b4;
  transform: rotate(45deg);
  border-left: transparent;
  border-top: transparent;
}
.section-adding-products__right .sort-product {
  cursor: pointer;
}
.section-adding-products__right .product-withdrawal {
  position: absolute;
  z-index: 3;
  transform: translateY(70%);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-family: 'SourceSansPro-regular';
  background-color: #fffefb;
  font-size: 12px;
  line-height: 15px;
  color: #B4B4B4;
  border-radius: 4px;
}
.section-adding-products__right .product-withdrawal__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 100%;
  border-bottom: 1px #b4b4b4;
  transition: 0.2s;
  border-radius: 4px;
  cursor: pointer;
}
.section-adding-products__right .product-withdrawal__item:hover {
  background-color: #fffaec;
}
.section-adding-products__right .product-withdrawal.show {
  display: none;
}
.section-adding-products__right .about-products-list {
  display: flex;
  flex-wrap: wrap;
  margin: 8px -8px -8px -8px;
}
.section-adding-products__right .about-products-list__item {
  position: relative;
  margin: 8px;
  width: calc(33.3% - 16px);
  cursor: pointer;
}
@media (max-width: 1200px) {
  .section-adding-products__right .about-products-list__item {
    width: calc(50% - 16px);
  }
}
@media (max-width: 490px) {
  .section-adding-products__right .about-products-list__item {
    width: calc(100% - 16px);
  }
}
.section-adding-products__right .about-products-list__item:hover > .delete-product {
  opacity: 1;
  z-index: 1;
  top: -8px;
  right: -8px;
}
.section-adding-products__right .about-products-list .wrapper-product-img {
  width: 100%;
  height: 200px;
}
.section-adding-products__right .about-products-list .wrapper-product-img__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-adding-products__right .about-products-list .delete-product {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  border: none;
  outline: none;
  width: 32px;
  height: 32px;
  background: #ff8484;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  opacity: 0;
}
.section-adding-products__right .about-products-list .delete-product::after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../icon/delete-product.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.section-adding-products__right .about-products-list__description {
  padding: 19px 16px 24px;
  background-color: #fffefb;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  color: #3f3f3f;
}
@media (max-width: 600px) {
  .section-adding-products__right .about-products-list__description {
    padding-bottom: 19px;
  }
}
.section-adding-products__right .about-products-list__description .about-product-title,
.section-adding-products__right .about-products-list__description .about-product-text,
.section-adding-products__right .about-products-list__description .about-product-price {
  font-family: 'SourceSansPro-regular';
}
.section-adding-products__right .about-products-list__description .about-product-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
}
@media (max-width: 600px) {
  .section-adding-products__right .about-products-list__description .about-product-title {
    font-size: 16px;
    line-height: 19px;
  }
}
.section-adding-products__right .about-products-list__description .about-product-text {
  margin-top: 16px;
  font-size: 16px;
  line-height: 20px;
}
@media (max-width: 600px) {
  .section-adding-products__right .about-products-list__description .about-product-text {
    font-size: 13px;
    line-height: 17px;
  }
}
.section-adding-products__right .about-products-list__description .about-product-price {
  margin-top: 32px;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}
@media (max-width: 600px) {
  .section-adding-products__right .about-products-list__description .about-product-price {
    margin-top: 15px;
    font-size: 20px;
    line-height: 24px;
  }
}
.section-adding-products__right .about-products-list.preloader {
  height: 100%;
  background-image: url('../img/preloader.gif');
  background-repeat: no-repeat;
  background-position: center;
}
