@font-face {
	font-family: 'inter-medium';
	src: url('../fonts/inter/inter-medium.woff2') format('woff2'),
		url('../fonts/inter/inter-medium.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'SourceSansPro-regular';
	src: url('../fonts/SourceSansPro/SourceSansPro-regular.woff2') format('woff2'),
		url('../fonts/SourceSansPro/SourceSansPro-regular.woff') format('woff');
}