@font-face {
	font-family: 'Inter';
	src: url('../fonts/inter/inter.woff2') format('woff2'),
		url('../fonts/inter/inter.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'SourceSans';
	src: url('../fonts/source-sans/source-sans.woff2') format('woff2'),
		url('../fonts/source-sans/source-sans.woff') format('woff');
}