* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

@import url('../css/main-fonts.css');
@import url('./variables/main-variables.less');
@import url('./mixins/main-mixins.less');

html, body {
    height: calc(100% - 30px);
}

.main {
    height: calc(100% - 30px);
    margin-top: 30px;
}
 
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
    @media (max-width: 810px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.section-adding-products {
    height: calc(100% - 30px);
    .adding-products-container {
        display: flex;
        height: calc(100% - 30px);
        @media (max-width: 810px) {
            flex-direction: column;
        }
    }

    &__left {
        max-width: 332px;
        @media (max-width: 810px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: initial;
        }
    }

    &__title {
        font-family: @var-mainFont;
        font-size: 28px;
        line-height: 35px;
        color: @var-mainColor;
        @media (max-width: 1020px) {
            font-size: 23px;
            line-height: 26px;
            text-align: center;
        }
    }

    .form-adding-products {
        position: sticky;
        top: 24px; 
        margin-top: 16px;
        padding: 24px;
        background-color: @var-mainBackgroundColor;
        @media (max-width: 810px) {
            width: 332px;
            max-width: 100%;
            background-color: #0093d0;
            box-shadow: 0px 1px 5px 0px;
        }
        .add-product-BS-BR();
        &__item {
            position: relative;
            margin-top: 20px;
        }
        &__label {
            position: relative;
            font-family: @var-mainFont;
            font-size: 12px;
            line-height: 13px;
            letter-spacing: -0.02em;
            color: #49485e;
            @media (max-width: 810px) {
                display: none;
            }
            &::after {
                content: '';
                display: inline-block;
                position: absolute;
                top: 0;
                right: -5px;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: #ff8484;
            }
        }
        &__label.product-description {
            &::after {
                display: none; 
            }
        }
        &__input {
            font-family: @var-mainFont;
            width: 100%;
            height: 36px;
            margin-top: 4px;
            padding-left: 16px;
            border: none;
            outline: none;
            font-size: 12px;
            line-height: 15px;
            background-color: transparent;
            color: @var-mainColor;
            &::placeholder {
                color: #b4b4b4;
                @media (max-width: 810px) {
                    color: @var-mainColor;
                }
            }
            .form-input-BS-BR();
            @media (max-width: 810px) {
                background-color: #fff;
            }
        }
        .error-message {
            position: absolute;
            left: 0;
            bottom: -16px;
            display: inline-block;
            margin-top: 7px;
            font-family: @var-mainFont;
            font-size: 11px;
            line-height: 10px;
            letter-spacing: -0.02em;
            color: #ff8484;
            opacity: 0;
            @media (max-width: 810px) {
                display: none;
            }
        }
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        input[type="number"] {
            -moz-appearance: textfield;
        }
        input[type="number"]:hover,
        input[type="number"]:focus {
            -moz-appearance: number-input;
        }
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        &__input.error {
            border: 1px solid #ff8484;
            &::placeholder {
                @media (max-width: 810px) {
                    color: #ff8484;
                }
            }
        }
        &__input.product-description {
            padding-top: 11px;
            height: 108px;
            position: relative;
            &::placeholder {
                position: absolute;
                top: 12px;
            }
        }
        &__add-product {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 36px;
            width: 100%;
            margin-top: 24px;
            font-family: @var-withMain;
            background-color: #eeeeee;
            font-size: 12px;
            font-weight: bold;
            line-height: 15px;
            color: #b4b4b4;
            border: none;
            outline: none;
            border-radius: 10px;
            cursor: pointer;
            transition: @var-transition;
        }
        &__add-product.active {
            background-color: #7bae73;
            color: #fff;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        }
    }

    &__right {
        width: 100%;
        height: 100%;
        margin-left: 16px;
        @media (max-width: 810px) {
            margin-left: 0;
            margin-top: 30px;
        }
        .wrapper-product-withdrawal {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            width: 135px;
            height: 36px;
            background-color: @var-mainBackgroundColor;
            font-size: 12px;
            line-height: 15px;
            color: #B4B4B4;
            .withdrawal-BS-BR();
            &::after {
                content: '';
                display: inline-block;
                margin-left: 5px;
                margin-top: -3px;
                width: 4.59px;
                height: 4.59px;
                border: 1px solid #b4b4b4;
                transform: rotate(45deg);
                border-left: transparent;
                border-top: transparent;
            }
        }
        .sort-product {
            cursor: pointer;
        }
        .product-withdrawal {
            position: absolute;
            z-index: 3;
            transform: translateY(70%);
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;
            font-family: @var-mainFont;
            background-color: @var-mainBackgroundColor;
            font-size: 12px;
            line-height: 15px;
            color: #B4B4B4;
            border-radius: 4px;
            &__item {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 25px;
                width: 100%;
                border-bottom: 1px #b4b4b4;
                transition: @var-transition;
                border-radius: 4px;
                cursor: pointer;
                &:hover {
                    background-color: darken(@var-mainBackgroundColor, 3%);
                }
            }
        }
        .product-withdrawal.show {
            display: none;
        }
        .about-products-list {
            display: flex;
            flex-wrap: wrap;
            margin: 8px -8px -8px -8px;
            &__item {
                position: relative;
                margin: 8px;
                width: calc(33.3% - 16px);
                cursor: pointer;
                @media (max-width:1200px) {
                    width: calc(50% - 16px);
                }
                @media (max-width: 490px) {
                    width: calc(100% - 16px);
                }
                &:hover > .delete-product{
                    opacity: 1;
                    z-index: 1;
                    top: -8px;
                    right: -8px;
                }
            }
            .wrapper-product-img {
                width: 100%;
                height: 200px;
                &__img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .delete-product {
                position: absolute;
                top: 0;
                right: 0;
                z-index: -1;
                border: none;
                outline: none;
                width: 32px;
                height: 32px;
                background: #ff8484;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                cursor: pointer;
                transition: @var-transition;
                opacity: 0;
                &::after {
                    content: '';
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    background-image: url('../icon/delete-product.svg');
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
            &__description {
                padding: 19px 16px 24px;
                background-color: @var-mainBackgroundColor;
                @media (max-width: 600px) {
                    padding-bottom: 19px;
                }
                .product-item-BS-BR();
                color: @var-mainColor;
                .about-product-title, 
                .about-product-text,
                .about-product-price {
                    font-family: @var-mainFont;
                }
                .about-product-title {
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 25px;
                    @media (max-width: 600px) {
                        font-size: 16px;
                        line-height: 19px;
                    }
                }
                .about-product-text {
                    margin-top: 16px;
                    font-size: 16px;
                    line-height: 20px;
                    @media (max-width: 600px) {
                        font-size: 13px;
                        line-height: 17px;
                    }
                }
                .about-product-price {
                    margin-top: 32px;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 30px;
                    @media (max-width: 600px) {
                        margin-top: 15px;
                        font-size: 20px;
                        line-height: 24px;
                    }
                }
            }
        }
        .about-products-list.preloader {
            height: 100%;
            background-image: url('../img/preloader.gif');
            background-repeat: no-repeat;
            background-position: center;
        }
    }

}


