* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@import url('../css/main-fonts.css');
@import url('./variables/main-variables.less');
@import url('./mixins/main-mixins.less');

.main {
    margin-top: 30px;
}
 
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
    @media (max-width: 810px) {
        padding-left: 20px;
        padding-right: 20px;
    }
} 

.section-adding-products-left {
    min-width: 332px;
    @media (max-width: 810px) {
        position: fixed;
        z-index: 1;
        bottom: 0;
        left: 0;
        right: 0;
        min-width: inherit;
    }
}

.adding-products-container {
    display: flex;
    @media (max-width: 810px) {
        flex-direction: column;
    }
}

.form-adding-products-title {
    font-family: @var-mainFont;
    font-size: 28px;
    line-height: 35px;
    color: @var-mainColor;
    @media (max-width: 810px) {
        position: absolute;
        top: 35px;
        left: calc(50% - 129px);
        z-index: 1;
    }
}

.form-adding-products {
    position: sticky;
    top: 24px; 
    margin-top: 16px;
    padding: 24px;
    background-color: @var-mainBackgroundColor;
    @media (max-width: 810px) {
        padding: 20px;
        padding-top: 50px;
        background-color: #f4c871;
    }
    .add-product-BS-BR();
    .adding-products-item {
        position: relative; 
        margin-top: 20px;
        .label-adding-products {
            position: relative;
            font-family: @var-mainFont;
            font-size: 12px;
            line-height: 13px;
            letter-spacing: -0.02em;
            color: #49485e;
            @media (max-width: 810px) {
                display: none;
            }
            &::after {
                content: '';
                display: inline-block;
                position: absolute;
                top: 0;
                right: -5px;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: #ff8484;
            }
        }
        .label-adding-products.product-description {
            &::after {
                display: none;
            }
        }
    }
    .adding-products-input, .adding-products-textarea {
        font-family: @var-mainFont;
        min-width: 100%;
        height: 36px;
        margin-top: 4px;
        padding-left: 16px;
        border: none;
        outline: none;
        font-size: 12px;
        line-height: 15px;
        background-color: transparent;
        color: @var-mainColor;
        &::placeholder,
        &::placeholder {
            color: #b4b4b4;
            @media (max-width: 810px) {
                color: @var-mainColor;
            }
        }
        .form-input-BS-BR();
        @media (max-width: 810px) {
            background-color: #fff;
        }
    }
    .error-message {
        position: absolute;
        left: 0;
        bottom: -16px;
        display: inline-block;
        margin-top: 7px;
        font-family: @var-mainFont;
        font-size: 11px;
        line-height: 10px;
        letter-spacing: -0.02em;
        color: #ff8484;
        opacity: 0;
        @media (max-width: 810px) {
            display: none;
        }
    }
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type="number"] {
        -moz-appearance: textfield;
    }
    input[type="number"]:hover,
    input[type="number"]:focus {
        -moz-appearance: number-input;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    .adding-products-input.error {
        border: 1px solid #ff8484;
        &::placeholder {
            @media (max-width: 810px) {
                color: #ff8484;
            }
        }
    }
    .adding-products-textarea {
        resize: none;
        padding-top: 11px;
        min-height: 108px;
        max-height: 108px;
        max-width: 284px;
    }
    .button-add-product {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 36px;
        width: 100%;
        margin-top: 24px;
        font-family: @var-withMain;
        background-color: #eeeeee;
        font-size: 12px;
        font-weight: bold;
        line-height: 15px;
        color: #b4b4b4;
        border: none;
        outline: none;
        border-radius: 10px;
        cursor: pointer;
        transition: @var-transition;
    }
    .button-add-product.active {
        background-color: #7bae73;
        color: #fff;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }
}


.section-adding-products-right {
    margin-left: 16px;
    @media (max-width: 810px) {
        margin-left: 0;
    }
    .product-withdrawal {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        font-family: @var-mainFont;
        width: 121.49px;
        height: 36px;
        background-color: @var-mainBackgroundColor;
        font-size: 12px;
        line-height: 15px;
        color: #B4B4B4;
        .withdrawal-BS-BR();
        &::after {
            content: '';
            display: inline-block;
            margin-left: 5px;
            margin-top: -3px;
            width: 4.59px;
            height: 4.59px;
            border: 1px solid #b4b4b4;
            transform: rotate(45deg);
            border-left: transparent;
            border-top: transparent;
        }
    }
    .wrapper-about-products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 8px -8px -8px -8px;
        .about-product-item {
            position: relative;
            margin: 8px;
            width: 332px; 
            cursor: pointer;
            @media (max-width: 1108px) {
                flex: 1 1 auto;
            }
            .about-product-img {
                width: 100%;
                object-fit: cover;
                @media (max-width: 1108px) {
                    height: 300px;
                }
                @media (max-width: 860px) {
                    height: 250px;
                }
                @media (max-width: 400px) {
                    height: 220px;
                }
            }
            .delete-product {
                position: absolute;
                top: 0;
                right: 0;
                z-index: -1;
                border: none;
                outline: none;
                width: 32px;
                height: 32px;
                background: #ff8484;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                cursor: pointer;
                transition: @var-transition;
                opacity: 0;
                &::after {
                    content: '';
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    background-image: url('../icon/delete-product.svg');
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
            &:hover > .delete-product{
                opacity: 1;
                z-index: 1;
                top: -8px;
                right: -8px;
            }
        }
        .about-product-description {
            padding: 19px 16px 24px;
            background-color: @var-mainBackgroundColor;
            .product-item-BS-BR();
            color: @var-mainColor;
            .about-product-title, 
            .about-product-text,
            .about-product-price {
                font-family: @var-mainFont;
            }
            .about-product-title {
                font-weight: 600;
                font-size: 20px;
                line-height: 25px;
            }
            .about-product-text {
                margin-top: 16px;
                font-size: 16px;
                line-height: 20px;
                @media (max-width: 400px) {
                    font-size: 14px;
                }
            } 
            .about-product-price {
                margin-top: 32px;
                font-weight: 600;
                font-size: 24px;
                line-height: 30px;
                @media (max-width: 400px) {
                    margin-top: 15px;
                    font-size: 20px;
                    line-height: 24px;
                }
            }
        }
    }
}




